@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('fonts/Fonts/Variable/GeneralSans-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src: url('fonts/Fonts/Variable/GeneralSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}

.image{
  display: flex;
  vertical-align: center;
  max-width: 100%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.heading1{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 200;
  font-size: 64px;
  line-height: 125.55%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  margin-bottom: 3%;
  display: block;
}
.rock3d{
  font-family: 'Rock 3D';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 97px;
}

.gochi{
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 79px;
}

.header{
font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
text-align: right;
}

.container{
  text-align: left;
  margin-top: 7%;
  margin-bottom: 7%;

}


.title{
position: relative;
z-index: index 0;
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;
font-size: 106px;
line-height: 149px;
margin-left: 5%;
margin-right: 5%;
}

.author{
font-family: 'GeneralSans-Variable';
font-style: normal;
font-weight: 400;
font-size: 16px;
}

.heading2{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 141.8%;
  text-transform: uppercase;
  color:  #FF7870;
  max-width: 700px;
  margin: auto;
  width: 50%;
}

.heading3{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 125.55%;
  margin-left: 5%;
  margin-right: 5%;
}

.body{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 141.8%;
  margin-left: 5%;
  margin-right: 5%;
}