@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
  --body: 16px;
  --heading1: calc(var(--body)*2.5);
  --heading2: calc(var(--body)*1.2);
  --heading3: calc(var(--body)*2.5);
  --title: calc(var(--body)*3.3);
}

@media (min-width: 768px) {
  :root {
  --body: 20px;

  --heading1: calc(var(--body)*4);
  --heading2: calc(var(--body)*3);
  --heading3: calc(var(--body)*4);
  --title: calc(var(--body)*5);
  --author: calc(var(--body)*1.2);

}
  }



@font-face {
  font-family: 'GeneralSans-Variable';
  src: url('fonts/Fonts/Variable/GeneralSans-Variable.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: normal;
}

@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src: url('fonts/Fonts/Variable/GeneralSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}

.vector{
  position:absolute;
  z-index: 14;
  top: 7%;
  left: 4%;
  right: 4.92%;
  bottom: 200%;
  width: 1182px;
  height: 450px;
  text-align: left;
}

.container{
  text-align: left;
  margin-top: 4%;
  margin-bottom: 4%;

}

.image{
  display: flex;
  vertical-align: center;
  max-width: 100%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
}

.heading1{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 200;
  font-size: calc(var(--body)*2.5);
  margin-left: 5%;
  margin-right: 5%;
}
.rock3d{
  font-family: 'Rock 3D';
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--body)*2.5);
}

.gochi{
  font-family: 'Gochi Hand';
  font-style: normal;
  font-weight: 400;
  font-size: calc(var(--body)*2.5);
}

.header{
font-family: roc-grotesk, sans-serif;
font-weight: 400;
font-style: normal;
text-align: right;
}

.title{
position: relative;
z-index: index 0;
font-family: roc-grotesk, sans-serif;
font-weight: 600;
font-style: normal;
font-size: calc(var(--body)*5);
line-height: 110%;
margin-left: 5%;
margin-bottom: 8%;
}

.author{
font-family: 'GeneralSans-Variable';
font-style: normal;
font-weight: 400;
margin-left: 5%;
margin-right: 5%;
font-size: calc(var(--body))
}

.heading2{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 400;
  font-size:calc(var(--body)*1.5);
  line-height: 141.8%;
  text-transform: uppercase;
  color:  #FF7870;
  max-width: 768px;
  margin: auto;
  width: 80%;
}

.heading3{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: calc(var(--body)*2.5);
  line-height: 125.55%;
  margin-left: 5%;
  margin-right: 5%;
}

.body{
  font-family: 'General Sans';
  font-style: normal;
  font-weight: 300;
  font-size: calc(var(--body));
  line-height: 141.8%;
  margin-left: 5%;
  margin-right: 5%;
}

.emphasis{font-family: 'General Sans';
  font-style: normal;
  font-weight: 500;
  font-size: calc(var(--body)*2.5);}