

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('fonts/ClashDisplay-Medium.woff2') format('woff2'),
         url('fonts/ClashDisplay-Medium.woff') format('woff'),
         url('fonts/ClashDisplay-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  @font-face {
    font-family: 'ClashDisplay-Semibold';
    src: url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  h1{
    font-family: ClashDisplay-Semibold;
    font-style: normal;
    font-size: 80px;
    position: absolute;
    bottom: 60px;
    left:100px;
    margin: 0px;
    line-height: 85px;
  }
  
  .heading{
    margin: -7px;
    position: relative;
    height: 470px;
    background-color:#EAE8E3 ;
    margin-bottom: 120px;
  }
  
  
  
  .heading p{
    font-family: Arial,sans-serif;
    font-style: normal;
    font-size: 14px;
    position: absolute;
    bottom: 60px;
    right: 80px;
    margin: 0px;
   
  }
  
  #yellow{
    color: yellow;
  }
  
  .red{
    color: red;
  }
  
  #head{
    font-family: ClashDisplay-Medium;
    font-size: 20px;
  }
  
  
  body {
    background-color: #FFF7F5;
  }
  
  .text{
    
    background-color: #FFF7F5;
    margin: 0px 95px;
  }
  
  p {
    max-width: 750px;
    font-family: Arial,sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 25px;
    color: black;
    
  }
  p1 {
    max-width: 900px;
    font-family: ClashDisplay-Medium;
    font-style: normal;
    font-size: 35px;
    line-height: 1.44em;
    color: black;
    margin: 120px 0px;
    display: block;
   }
  